<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HomePage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, voluptates qui. Eos ratione sed eligendi minus obcaecati corporis? Hic, totam?</p>
    </body>
</html>